/* #menuPrincipal{
    height: 1px;
    margin-top: 50px;
    position: relative;
    top: 15px;
    font-size: 10px !important;
}
 */
#top {
	background-color: #f8f9fa;
	border-radius: 8px;
	padding: 10px;
	margin: 20px 0px 10px 0px;
	font-size: 12px !important;
}

#bottom {
	position: relative;
	height: 30px;
	border-radius: 13px;
	text-align: center;
	font-size: 15.5px;
	font-weight: bold;
	/*	background-color: #DBDBDB;*/
	color: #000033;
	padding: 25px;
	margin: 10px 0px 0px 0px;
	margin-top: 10px;
}

#left {
	float: left;
	background-color: #ece3a5;
	padding: 5px;
	width: 180px;
	/* height: 980px !important; */
}

#right {
	float: right;
	/*    background-color: #ece3a5;*/
	padding: 5px;
	width: 150px;
}

.center_content {
	font-size: 9px;
	position: relative;
	background-color: #f8f9fa;
	border-radius: 8px;
	padding: 15px;
}

.left_content {
	background-color: #036FAB;
	padding: 5px;
	margin-left: 210px;
	color: #ffffff;
}

.right_content {
	background-color: #dddddd;
	padding: 5px;
	margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

#top a:link:hover, #top a:visited:hover {
	color: #000033 !important;
	font-weight: bold;
	text-decoration: none;
}

#sessionUsuario {
	color: #036FAB;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	right: 15px;
}

.ui-menubar .ui-menubar-start {
    display: flex !important;
    align-items: center;
}



