@import
	url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap')
	;

body {
	background-color: #154360 !important;
	/*    background-image: url('../..//img/blue.jpg');*/
	/*#036FAB #AED2D9*/
	font-size: 10px;
	font-family: 'Orbitron', sans-serif;
	margin: 10px;
}

h1 {
	font-family: 'Comfortaa', sans-serif;
	font-size: 45px !important;
	font-weight: bold;
	margin: 10px;
	padding: 0px;
	/* color: #FFFFFF !important; */
	text-align: center;
}

h2 {
	font-family: 'Comfortaa', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #000033;
}

h3 {
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: white;
}

a:link, a:visited {
	color: #045491;
	font-weight: bold;
	text-decoration: none;
}

a:link:hover, a:visited:hover {
	color: #045491;
	font-weight: bold;
	text-decoration: underline;
}

.rojo {
	background-color: #FF5733 !important;
}

.azul {
	background-color: #2196F3 !important;
	border-radius: 5px !important;
}

.verde {
	background-color: #2ECC71 !important;
}

.amarillo {
	background-color: gold !important;
}

.cerrar {
	background-color: #154360 !important;
}

.jungleGreen {
	background-color: #2da08c !important;
}

.flamePea {
	background-color: #dc672c !important;
}

.pear {
	background-color: #b7dc2c !important;
	color: #101010 !important;
	font-size: .9rem !important;
	text-align: center !important;
	font-weight: bolder !important;
}

.captura {
	font-size: 12px !important;
	font-family: 'Poppins', sans-serif !important;
	font-weight: bolder !important;
}

.etiqueta {
	font-size: 12px !important;
	font-family: 'Poppins', sans-serif !important;
	font-weight: bolder !important;
}

.combo {
	font-size: 14px !important;
	font-family: 'Poppins', sans-serif !important;
}

.tabla {
	/*        font-family: 'Jetbrains', sans-serif !important;*/
	font-family: "Poppins", sans-serif !important;
}

/**color verde, gerencia**/
.liberado {
	background-color: #2ECC71;
}
/**color amarillo tiene humedad y calcios, control de calidad**/
.calidad {
	background-color: #ffff66;
}

/**color azul no tiene humedad control de calidad**/
.nohumedad {
	background-color: #87CEFA;
}

.ocupada {
	background-color: #ffff66;
	color: #000000 !important;
	font-weight: bold;
}

.disponible {
	background-color: #3CB371;
	color: #F0F8FF !important;
	font-weight: bold;
}

.mantenimiento {
	background-color: #483D8B;
	color: #F0F8FF !important;
	font-weight: bold;
}

.sinuso {
	background-color: #a51d2d;
	color: #F0F8FF !important;
	font-weight: bold;
}

.kilos {
	background-color: #ffff66 !important;
}

.kg {
	background-color: #ADFF2F !important;
}

.tolvas {
	background-color: #62CBF5 !important;
	font-weight: bold !important;
	font-size: rem 2.5 !important;
}

.otrosCampos {
	background-color: #CDF5C8 !important;
}

.fuente {
	font-size: .6rem !important;
}

.fuenteTitulo {
	font-size: 1.2rem !important;
}

.fuente2 {
	font-size: .6rem !important;
}

.detalle {
	font-weight: bold !important;
}

.btnActualizar {
	background-color: #4682B4 !important;
	border-radius: .1rem;
}

.fondo {
	background-color: #98FB98 !important;
	text-align: center !important;
	font-weight: bold !important;
}

.fondo2 {
	background-color: #ADFF2F !important;
	text-align: center !important;
	font-weight: bold !important;
}

.mensajeBoton {
	font-size: .8rem !important;
	color: #008080 !important;
	font-weight: bold !important;
}

.mensajeBoton2 {
	font-size: .8rem !important;
	color: #4682B4 !important;
	font-weight: bold !important;
}

.mensajeM {
	font-size: 1rem !important;
	color: #FF6347 !important;
	font-weight: bold !important;
}

.mensajeLib {
	font-size: 1rem !important;
	color: #4682B4 !important;
	font-weight: bold !important;
}

.mensajeLiberar {
	font-size: 1rem !important;
	color: #008080 !important;
	font-weight: bold !important;
}

.mensajeLibCancelar {
	font-size: 1rem !important;
	color: #FF6347 !important;
	font-weight: bold !important;
}

.saldo {
	color: #B22222 !important;
	font-weight: bold !important;
	font-size: 1rem !important;
}

.lavadora {
	color: #2da08c !important;
	font-weight: bold !important;
	font-size: 1rem !important;
}

.negativo {
	background-color: #1E90FF !important; /* Rojo claro para resaltar */
	color: #1E90FF !important; /* Texto oscuro para contraste */
}

.normal {
	color: #036FAB !important;
	font-weight: bold !important;
}

.datos {
	color: #036FAB !important;
}

.color {
	color: #8B008B !important;
}

.fuenteCocedores {
	font-size: .6rem !important;
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto !important;
}

.fondoAmarillo {
	background-color: #FAFAD2 !important;
}

.fuenteNaranja {
	color: #FF8C00 !important;
	font-weight: bold !important;
}

.temperatura {
	background-color: #FFA500 !important;
}

.estado {
	background-color: #AFEEEE !important;
}

.tabla2 {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto !important;
}

.fechaActual {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	font-size: 1.2rem;
	color: #FFFFFF;
	background-color: #4169E1 !important;
	border-radius: .3rem;
	margin-left: 5rem;
}

.promedio {
	background-color: #191970 !important;
	color: #FFFFFF !important;
}

.camposLimpieza {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto;
	background-color: #48D1CC !important;
}

.camposCocedores {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto;
	background-color: #B0C4DE !important;
	font-size: bold;
}

.camposCocedoresC {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	background-color: #D8BFD8 !important;
}

.camposCocedoresT {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	background-color: #E0FFFF !important;
}

.camposManto {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	background-color: #B0E0E6 !important;
}

.camposPurgas {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	background-color: #66CDAA !important;
}

.camposFloculante {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	background-color: #CBD99B !important;
	font-size: .8rem !important;
}

.filtros {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	font-size: 1rem !important;
	font-weight: bold !important;
}

.btn-aceptado {
	border: 2rem !important;
	background-color: #008000 !important; /* Verde */
	color: white !important;
}

.btn-rechazado {
	border: 2rem !important;
	background-color: #FF0000 !important;
	/* Rojo */
	color: white !important;
	background-color: #FF0000 !important;
}

.fondoTurnos {
	background-color: #98FB98 !important;
	text-align: center !important;
	font-weight: bold !important;
}

.columna {
	background-color: #F8F8FF !important;
}

.prefiltro {
	background-color: #FFFAFA !important;
}

.alimentacion {
	background-color: #F0FFF0 !important;
}

.etapa1 {
	background-color: #FFFACD !important;
}

.etapa2 {
	background-color: #F5FFFA !important;
}

.etapa3 {
	background-color: #E0FFFF !important;
}

.etapa4 {
	background-color: #fdebd0 !important;
}

.concentrado {
	background-color: #ebf5fb !important;
}

.concentradoPor {
	background-color: #e9f7ef !important;
}

.aprobado {
	background-color: #2da08c !important;
}

.pendiente {
	background-color: #dc672c !important;
}

.table_component {
	overflow: auto;
	width: 100%;
}

.table_component table {
	border: 1px solid #dededf;
	height: 100%;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 1px;
	text-align: center;
}

.table_component caption {
	caption-side: top;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}

.table_component th {
	border: 1px solid rgb(0, 0, 0) !important;
	background-color: #eceff1 !important;
	color: #000000;
	padding: 5px;
}

.table_component td {
	border: 1px solid #dededf !important;
	background-color: #ffffff !important;
	color: #000000;
	padding: 5px;
}

.bra {
	color: #2AA63E;
	font-family: 'Consolas', 'Roboto', monospace;
	/* fuente monoespaciada */
	text-align: right; /* alinea a la derecha */
	font-size: 0.8rem; /* tamaño más compacto */
	padding-right: 0.5rem; /* pequeño margen a la derecha */
}

.bs {
	color: #34A6F4;
	font-family: 'Consolas', 'Roboto', monospace;
	/* fuente monoespaciada */
	text-align: right; /* alinea a la derecha */
	font-size: 0.8rem; /* tamaño más compacto */
	padding-right: 0.5rem; /* pequeño margen a la derecha */
}

.bscen {
	color: #34A6F4;
	font-family: 'Consolas', 'Roboto', monospace;
	/* fuente monoespaciada */
	text-align: center; /* alinea a la derecha */
	font-size: 0.8rem; /* tamaño más compacto */
	padding-right: 0.5rem; /* pequeño margen a la derecha */
}

.bstot {
	color: #073b5e;
	font-family: 'Consolas', 'Roboto', monospace;
	/* fuente monoespaciada */
	text-align: right; /* alinea a la derecha */
	font-size: 0.8rem; /* tamaño más compacto */
	padding-right: 0.5rem; /* pequeño margen a la derecha */
}

.bstotkg {
	color: #87036a;
	font-family: 'Consolas', 'Roboto', monospace;
	/* fuente monoespaciada */
	text-align: right; /* alinea a la derecha */
	font-size: 0.8rem; /* tamaño más compacto */
	padding-right: 0.5rem; /* pequeño margen a la derecha */
}

.gh {
	color: #9810FA;
	font-family: 'Consolas', 'Roboto', monospace;
	/* fuente monoespaciada */
	text-align: right; /* alinea a la derecha */
	font-size: 0.8rem; /* tamaño más compacto */
	padding-right: 0.5rem; /* pequeño margen a la derecha */
}

.bloqueo {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto;
	background-color: #B0C4DE !important;
	font-size: bold;
}

.editar {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto;
	background-color: #f9f06b !important;
	font-size: bold;
}

.spinner-folio input {
	color: #5a81ff !important; /* color de fuente */
	font-weight: bold !important; /* opcional */
	font-size: 1.5rem !important; /* opcional */
}

.resumen {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto;
	font-size: 1rem !important;
	color: #073b5e !important;
	background-color: #f9f06b !important;
	font-size: bold;
}

.resumen-et {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto;
	font-size: .8rem !important;
	color: rgb(0, 0, 0) !important;
	font-size: bold;
}

.resumenTot {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto;
	font-size: 1rem !important;
	color: rgb(255, 255, 255) !important;
	background-color: rgb(26, 95, 180) !important;
	font-size: bold;
}

.granTot {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto;
	font-size: 1rem !important;
	color: rgb(246, 245, 244) !important;
	background-color: rgb(18, 191, 47) !important;
	font-size: bold;
}

@media print {
	/* Ocultar botones y menús en impresión */
	.ui-button, .ui-growl {
		display: none !important;
	}
	.resumen {
		font-family: "IBM Plex Sans", sans-serif !important;
		font-optical-sizing: auto;
		font-size: 1rem !important;
		color: #073b5e !important;
		background-color: #f9f06b !important;
		font-size: bold;
	}
	.resumen-et {
		font-family: "IBM Plex Sans", sans-serif !important;
		font-optical-sizing: auto;
		font-size: .8rem !important;
		color: rgb(0, 0, 0) !important;
		font-size: bold;
	}
	.resumenTot {
		font-family: "IBM Plex Sans", sans-serif !important;
		font-optical-sizing: auto;
		font-size: 1rem !important;
		color: rgb(255, 255, 255) !important;
		background-color: rgb(26, 95, 180) !important;
		font-size: bold;
	}
	.granTot {
		font-family: "IBM Plex Sans", sans-serif !important;
		font-optical-sizing: auto;
		font-size: 1rem !important;
		color: rgb(246, 245, 244) !important;
		background-color: rgb(18, 191, 47) !important;
		font-size: bold;
	}

}
.resumenMaq {
	font-family: "IBM Plex Sans", sans-serif !important;
	font-optical-sizing: auto;
	font-size: .7rem !important;
	color: #073b5e !important;
	font-size: bold;
}