<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.datasource">java:/MSSQLDS</property>

		<!-- Configuración del pool de conexiones (HikariCP) -->
		<property name="hibernate.hikari.minimumPoolSize">5</property>
		<property name="hibernate.hikari.maximumPoolSize">50</property>
		<property name="hibernate.hikari.idleTimeout">60000</property>
		<property name="hibernate.hikari.connectionTimeout">20000</property>
		<property name="hibernate.hikari.maxLifetime">1800000</property>

		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		
		<mapping resource="com/dmjm/model/DescuentoCalciosTablaA.hbm.xml" />
		<mapping resource="com/dmjm/model/InfoDocumento.hbm.xml" />
		<mapping resource="com/dmjm/model/Transportista.hbm.xml" />
		<mapping resource="com/dmjm/model/Preservacion.hbm.xml" />
		<mapping resource="com/dmjm/model/Proveedores.hbm.xml" />
		<mapping resource="com/dmjm/model/Entradas.hbm.xml" />
		<mapping resource="com/dmjm/model/DescuentoCalciosTablaB.hbm.xml" />
		<mapping resource="com/dmjm/model/Perfiles.hbm.xml" />
		<mapping resource="com/dmjm/model/DescuentoHumedadTablaA.hbm.xml" />
		<mapping resource="com/dmjm/model/DescuentoHumedadTablaB.hbm.xml" />
		<mapping resource="com/dmjm/model/Folios.hbm.xml" />
		<mapping resource="com/dmjm/model/Usuarios.hbm.xml" />
		<mapping resource="com/dmjm/model/Materia.hbm.xml" />
		<mapping resource="com/dmjm/model/Precios.hbm.xml" />
		<mapping resource="com/dmjm/model/SaldoFactura.hbm.xml" />
		<mapping resource="com/dmjm/model/PreparacionPieles.hbm.xml" />
		<mapping resource="com/dmjm/model/Lavadoras.hbm.xml" />
		<mapping resource="com/dmjm/model/Etapas.hbm.xml" />
		<mapping resource="com/dmjm/model/FacturasPieles.hbm.xml" />
		<mapping resource="com/dmjm/model/OperacionLavadoras.hbm.xml" />
		<mapping resource="com/dmjm/model/CuentasContables.hbm.xml" />
		<mapping resource="com/dmjm/model/EntradasImportacion.hbm.xml" />
		<mapping resource="com/dmjm/model/ProveedoresImportacion.hbm.xml" />
		<mapping resource="com/dmjm/model/Activacion.hbm.xml" />
		<mapping resource="com/dmjm/model/Quimicos.hbm.xml" />
		<mapping resource="com/dmjm/model/BitacoraPrecios.hbm.xml" />
		<mapping resource="com/dmjm/model/EntradasMaquinariaEquipo.hbm.xml" />

		<mapping resource="com/dmjm/model/FolioPreparacionCocedores.hbm.xml" />
		<mapping resource="com/dmjm/model/Cocedores.hbm.xml" />
		<mapping resource="com/dmjm/model/Limpieza.hbm.xml" />
		<mapping resource="com/dmjm/model/OrdenMantenimiento.hbm.xml" />
		<mapping resource="com/dmjm/model/FolioCocedores.hbm.xml" />
		<mapping resource="com/dmjm/model/Purgas.hbm.xml" />

		<mapping resource="com/dmjm/model/Operador.hbm.xml" />
		<mapping resource="com/dmjm/model/RegistroTurnos.hbm.xml" />
		<mapping resource="com/dmjm/model/Turnos.hbm.xml" />
		
	    <mapping resource="com/dmjm/model/EsterilizadorPlantaA.hbm.xml"/>
		<mapping resource="com/dmjm/model/EsterilizadorPlantaB.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionEstA.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionEstB.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoEstA.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoEstB.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioProcesos.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaEstA.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaEstB.hbm.xml"/>

	    <mapping resource="com/dmjm/model/FolioPreparacionUltraDos.hbm.xml"/>
	    <mapping resource="com/dmjm/model/CambioPrefiltro.hbm.xml"/>
	    <mapping resource="com/dmjm/model/UltrafiltracionUno.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionUltraUno.hbm.xml"/>
	    <mapping resource="com/dmjm/model/UltrafiltracionDos.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoUltraDos.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoUltraUno.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaUltraUno.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaUltraDos.hbm.xml"/>
	    
		<mapping resource="com/dmjm/model/LimpiezaVotatorA.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionVotatorA.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionVotatorB.hbm.xml"/>
	    <mapping resource="com/dmjm/model/VotatorA.hbm.xml"/>
	    <mapping resource="com/dmjm/model/VotatorB.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaVotatorB.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoVotatorB.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoVotatorA.hbm.xml"/>
	    <mapping resource="com/dmjm/model/ResumenVotatorA.hbm.xml"/>
	    <mapping resource="com/dmjm/model/ResumenVotatorB.hbm.xml"/>
	    
	    <mapping resource="com/dmjm/model/Mallas.hbm.xml"/>
	    <mapping resource="com/dmjm/model/CribasImanes.hbm.xml"/>
	    <mapping resource="com/dmjm/model/Molienda.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaMolienda.hbm.xml"/>
	    <mapping resource="com/dmjm/model/Remolienda.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioGeneral.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionMolienda.hbm.xml"/>
	    <mapping resource="com/dmjm/model/GelatinaPorMoler.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoMolienda.hbm.xml"/>
	    <mapping resource="com/dmjm/model/VoboMolienda.hbm.xml"/>
	    
		<mapping resource="com/dmjm/model/OrdenMantenimientoLuwaTres.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LuwaUno.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaLuwaDos.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoLuwaCinco.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaLuwaCuatro.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionLuwaCinco.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaLuwaCinco.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaLuwaUno.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LimpiezaLuwaTres.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionLuwaDos.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionLuwaUno.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LuwaCinco.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LuwaTres.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoLuwaCuatro.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LuwaDos.hbm.xml"/>
	    <mapping resource="com/dmjm/model/LuwaCuatro.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoLuwaDos.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionLuwaCuatro.hbm.xml"/>
	    <mapping resource="com/dmjm/model/OrdenMantenimientoLuwaUno.hbm.xml"/>
	    <mapping resource="com/dmjm/model/FolioPreparacionLuwaTres.hbm.xml"/>
	    <mapping resource="com/dmjm/model/ResumenLuwaDos.hbm.xml"/>
	    <mapping resource="com/dmjm/model/ResumenLuwaCinco.hbm.xml"/>
	    <mapping resource="com/dmjm/model/ResumenLuwaCuatro.hbm.xml"/>
	    <mapping resource="com/dmjm/model/ResumenLuwaUno.hbm.xml"/>
	    <mapping resource="com/dmjm/model/ResumenLuwaTres.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
